.footer {
  height: 120px;
  line-height: 120px;
  background: #fff;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.footer .inner {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}
